/* src/components/AddMovieForm.css */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-image: url('../images/backdrop.jpg'); /* Add the background image */
  background-size: cover; /* Ensures the image covers the entire viewport */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  color: #333;
}
.add-movie-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #0000006c;
    border-radius: 5%;

  }
  
  .add-movie-container h1 {
    text-align: center;
    color: #fffefe;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .add-movie-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .form-group label {
    font-size: 1.2rem;
    font-weight: bolder;
    color: #ffffff;
  }
  
  .form-group input {
    padding: 10px;
    font-size: 1rem;
    color: #fff;
    border-radius: 5px;
    border: 3px solid #ccc;
    background-color: #ffffff00;
  }
  
  .form-group input:focus {
    outline: none;
    border-color: #000000;
  }
  
  .submit-button {
    padding: 12px;
    font-size: 1.2rem;
    color: #fff;
    background-color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submit-button:hover {
    background-color: #353637;
  }
  input::placeholder {
    color: white;
    opacity: 1; /* Ensures the placeholder text is fully visible */
  }
  
  input:focus::placeholder {
    color: white; /* Keep the placeholder white when the input is focused */
  }
  textarea {
    width: 96%;
    height: 100px;
    padding: 10px;
    font-size: 1em;
    border: 3px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    background-color: transparent;  /* Makes the background transparent */
    color: white;  /* Makes the text color white */
    font-family: 'Arial', sans-serif; /* Change this to your desired font */
  }
  textarea::placeholder {
    color: #ffffff; /* Change placeholder text color if needed */
  }
  
  textarea:focus {
    border-color: #000000;
    outline: none;
  }
  
  small {
    margin-top: 5px;
    font-size: 0.9em;
    color: #ffffff;
  }
  
  