/* Background Image */


/* App Container */
.App {
  font-family: Arial, sans-serif;
  min-height: 100%; /* Allows the content to expand vertically */
  position: relative; /* Sets stacking context for z-index */
  overflow-y: auto; /* Enables vertical scrolling */
  z-index: 1; /* Ensures the content stays above the background */
}


/* Body and html styles to ensure scrolling */
body, html {
  height: 100%; /* Makes sure the height is stretched to full viewport */
  margin: 0; /* Removes default margin */
  overflow-y: auto; /* Ensures scrolling is enabled on the body */
  overflow-x: hidden;
}

